<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Cadastro</title>
</head>
<body>
    <form action="{% url 'person_new' %}" method="POST">
        {%csrf_token%}
        {{ form }}
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>