<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoas cadastradas</title>
</head>
<body>
    <h1>Pessoas cadastradas</h1>
    {% for pessoa in pessoas %}
    <li>
        <a href="{% url 'person_update' pessoa.id %}">{{pessoa}}</a>
        <a href="{% url 'person_delete' pessoa.id%}" >Deletar</a>
    </li></a> 
    {% endfor %}
    <br>
    <a href="{% url 'person_new' %}">Novo usuário</a>
</body>
</html>