<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deletar Pessoa</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        <h1>Tem certeza que quer deletar a pessoa abaixo?</h1>
        <span>Nome: {{pessoa.first_name}}</span><br>
        <span>Sobrenome: {{pessoa.last_name}}</span><br>
        <span>Idade: {{pessoa.age}}</span><br>
        <br>
        <button type="submit">Deletar</button>
    </form>
</body>
</html>