<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualizar Cadastro</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <button type="submit">Alterar</button>
    </form>
</body>
</html>